body {font-family:Arial, Helvetica, sans-serif;
    color:black;
    background-color: #FA8072;}
h1 {color: #004db4; }
.skills{text-align: center;}
h2{color: #033372;}
table, th, td {border: 2px solid blue;}
.evenrow {background-color: #90A7C6;}
nav{background-color: skyblue; padding: 10px;}
nav a{color: #0B1118;}
nav a:hover{background-color: whitesmoke; }
footer p{float:right;}
.bueller{float: right; margin-left: 25px;
max-width: 100%;}
.clear{clear:both}
.firstrow{background-color: turquoise; border-radius: 1.5em;
    margin:30px;}
.address{float: left; padding: 12px;}
.stopfloat{clear:both;}
.secondrow{background-color:lightsteelblue; border-radius: 2em; 
    display: flex; flex-wrap:wrap;}
.map{padding:20px;}
.form{padding: 20px;}
.skillstable{max-width: 100%; margin-left: auto; margin-right: auto;}

@media only screen and (max-width: 920px){
    nav a{display: block; padding: 5px;}
    span{display:none;}
}

@media only screen and (max-width: 600px){
    nav a{display: block; padding: 5px;}
    span{display:none;}
}

#skip a{color:#0B1118; display:flex;}



