h1{color: #FF0000;}
a:link{color: #00FF00;}
a:visited {color: #0000FF;}
a:hover{color: #888888;}
/* hex color requires pound sign
psuedo selectors need colon between selector and its state*/
.oneoff:hover{
    color: #0283bf;
    background-color: #5d02bf;
}
/*you can use any selector with pseudo selectors*/
body{
    background-image: url(images/LI-Logo.png);
    background-color: #ebebda;
    background-size: 500px;
    /*size the background image */
}
/* file path for background is from the css file
dont forget url and parentheses for background image*/
p{
    background-color: #ffffff;
    /*to calculate width of box: width of box + padding x 2+ border x 2 + margin x 2
    for our box: 300px + 40px + 10px + 100px= 450px */
    padding: 20px;
    margin: 50px;
    border: 5px solid #000000;
    /* combo property value, documented in CSS specification*/
}