body {font-family:Arial, Helvetica, sans-serif; 
    background-color: #FA8072;}
h1 {color: #004db4; }
h2{color: #5C91B7;}
table, th, td {border: 2px solid blue;}
.evenrow {background-color: #4775B3;}
nav{background-color: skyblue;}
link{color: #90A7C6;}